.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.postCard {
  padding: 1rem;
  border-radius: 8px;
  background-color: #F8F9D7;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}
.postCard:hover {
  transform: translateY(-4px); /* 少し上に移動 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* 影を追加 */
}

.postCard a {
  text-decoration: none; /* 通常時も下線なし */
}

.postCard a:hover {
  text-decoration: none; /* hover時の下線もなし */
}
.postTitleLink {
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}
.postTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2a4365;
}

.grid {
  display: grid;
  gap: 1rem;
}
/* スマホ：1列 */
@media (max-width: 639px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* タブレット：2列 */
@media (min-width: 640px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PC：3列 */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}