.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.postCard {
  padding: 1rem;
  border-radius: 8px;
  background-color: #F8F9D7;
}
.postTitle {
  margin-bottom: 20px;
  display: block;
  color: #2a4365;
  text-decoration: none;
}